Net osc_clk TNM_NET = osc_clk_pin;
TIMESPEC TS_osc_clk_pin = PERIOD osc_clk_pin 100000 kHz;
Net osc_clk LOC=H17 | IOSTANDARD = LVCMOS25;

#NET "led0" LOC = H13;
#NET "led1" LOC = J17;
#NET "led2" LOC = H15;

Net led0 LOC=H13 | IOSTANDARD = LVCMOS25;
Net led1 LOC=J17 | IOSTANDARD = LVCMOS25;
Net led2 LOC=H15 | IOSTANDARD = LVCMOS25;
Net led3 LOC=G16 | IOSTANDARD = LVCMOS25;
Net led4 LOC=L18 | IOSTANDARD = LVCMOS25;
Net led5 LOC=H18 | IOSTANDARD = LVCMOS25;
Net led6 LOC=J19 | IOSTANDARD = LVCMOS25;
Net led7 LOC=J21 | IOSTANDARD = LVCMOS25;

Net rxd LOC=AH5 | IOSTANDARD = LVCMOS33;
Net txd LOC=AD6 | IOSTANDARD = LVCMOS33;

Net "j1<0>" LOC=AB33 | IOSTANDARD = LVCMOS33;
Net "j1<1>" LOC=AC32 | IOSTANDARD = LVCMOS33;
Net "j1<2>" LOC=AC34 | IOSTANDARD = LVCMOS33;
Net "j1<3>" LOC=AA8 | IOSTANDARD = LVCMOS33;
Net "j1<4>" LOC=AA9 | IOSTANDARD = LVCMOS33;
Net "j1<5>" LOC=AB10 | IOSTANDARD = LVCMOS33;
Net "j1<6>" LOC=AA10 | IOSTANDARD = LVCMOS33;
Net "j1<7>" LOC=AA34 | IOSTANDARD = LVCMOS33;
Net "j1<8>" LOC=AA33 | IOSTANDARD = LVCMOS33;
Net "j1<9>" LOC=AB32 | IOSTANDARD = LVCMOS33;
Net "j1<10>" LOC=AA5 | IOSTANDARD = LVCMOS33;
Net "j1<11>" LOC=AB5 | IOSTANDARD = LVCMOS33;
Net "j1<12>" LOC=AB6 | IOSTANDARD = LVCMOS33;
Net "j1<13>" LOC=AB7 | IOSTANDARD = LVCMOS33;
Net "j1<14>" LOC=W32 | IOSTANDARD = LVCMOS33;
Net "j1<15>" LOC=Y34 | IOSTANDARD = LVCMOS33;
Net "j1<16>" LOC=Y33 | IOSTANDARD = LVCMOS33;
Net "j1<17>" LOC=Y32 | IOSTANDARD = LVCMOS33;
Net "j1<18>" LOC=AD9 | IOSTANDARD = LVCMOS33;
Net "j1<19>" LOC=AC8 | IOSTANDARD = LVCMOS33;
Net "j1<20>" LOC=AB8 | IOSTANDARD = LVCMOS33;
Net "j1<21>" LOC=V32 | IOSTANDARD = LVCMOS33;
Net "j1<22>" LOC=V34 | IOSTANDARD = LVCMOS33;
Net "j1<23>" LOC=V33 | IOSTANDARD = LVCMOS33;
Net "j1<24>" LOC=W34 | IOSTANDARD = LVCMOS33;
Net "j1<25>" LOC=AE8 | IOSTANDARD = LVCMOS33;
Net "j1<26>" LOC=AD10 | IOSTANDARD = LVCMOS33;
Net "j1<27>" LOC=AD11 | IOSTANDARD = LVCMOS33;

Net "j2<0>" LOC=AE34 | IOSTANDARD = LVCMOS33;
Net "j2<1>" LOC=AD32 | IOSTANDARD = LVCMOS33;
Net "j2<2>" LOC=AE33 | IOSTANDARD = LVCMOS33;
Net "j2<3>" LOC=AE32 | IOSTANDARD = LVCMOS33;
Net "j2<4>" LOC=AF33 | IOSTANDARD = LVCMOS33;
Net "j2<5>" LOC=AF34 | IOSTANDARD = LVCMOS33;
Net "j2<6>" LOC=AG33 | IOSTANDARD = LVCMOS33;
Net "j2<7>" LOC=AH34 | IOSTANDARD = LVCMOS33;
Net "j2<8>" LOC=AH33 | IOSTANDARD = LVCMOS33;
Net "j2<9>" LOC=AG32 | IOSTANDARD = LVCMOS33;
Net "j2<10>" LOC=AH32 | IOSTANDARD = LVCMOS33;
Net "j2<11>" LOC=AJ34 | IOSTANDARD = LVCMOS33;
Net "j2<12>" LOC=AK34 | IOSTANDARD = LVCMOS33;
Net "j2<13>" LOC=AK33 | IOSTANDARD = LVCMOS33;

Net "j3<0>" LOC=AL10 | IOSTANDARD = LVCMOS33;
Net "j3<1>" LOC=AL11 | IOSTANDARD = LVCMOS33;
Net "j3<2>" LOC=AJ11 | IOSTANDARD = LVCMOS33;
Net "j3<3>" LOC=AK11 | IOSTANDARD = LVCMOS33;
Net "j3<4>" LOC=AK9 | IOSTANDARD = LVCMOS33;
Net "j3<5>" LOC=AK8 | IOSTANDARD = LVCMOS33;
Net "j3<6>" LOC=AJ10 | IOSTANDARD = LVCMOS33;
Net "j3<7>" LOC=AJ9 | IOSTANDARD = LVCMOS33;
Net "j3<8>" LOC=AH10 | IOSTANDARD = LVCMOS33;
Net "j3<9>" LOC=AH9 | IOSTANDARD = LVCMOS33;
Net "j3<10>" LOC=AF10 | IOSTANDARD = LVCMOS33;
Net "j3<11>" LOC=AF9 | IOSTANDARD = LVCMOS33;
Net "j3<12>" LOC=AC9 | IOSTANDARD = LVCMOS33;
Net "j3<13>" LOC=AC10 | IOSTANDARD = LVCMOS33;

Net "j4<0>" LOC=W7 | IOSTANDARD = LVCMOS33;
Net "j4<1>" LOC=W6 | IOSTANDARD = LVCMOS33;
Net "j4<2>" LOC=W9 | IOSTANDARD = LVCMOS33;
Net "j4<3>" LOC=Y6 | IOSTANDARD = LVCMOS33;
Net "j4<4>" LOC=Y7 | IOSTANDARD = LVCMOS33;
Net "j4<5>" LOC=AA6 | IOSTANDARD = LVCMOS33;
Net "j4<6>" LOC=Y8 | IOSTANDARD = LVCMOS33;
Net "j4<7>" LOC=Y9 | IOSTANDARD = LVCMOS33;
Net "j4<8>" LOC=AD4 | IOSTANDARD = LVCMOS33;
Net "j4<9>" LOC=AD7 | IOSTANDARD = LVCMOS33;
Net "j4<10>" LOC=AE6 | IOSTANDARD = LVCMOS33;
Net "j4<11>" LOC=AE7 | IOSTANDARD = LVCMOS33;
Net "j4<12>" LOC=AF5 | IOSTANDARD = LVCMOS33;
Net "j4<13>" LOC=AF6 | IOSTANDARD = LVCMOS33;
Net "j4<14>" LOC=AG5 | IOSTANDARD = LVCMOS33;
Net "j4<15>" LOC=AG6 | IOSTANDARD = LVCMOS33;
Net "j4<16>" LOC=AG7 | IOSTANDARD = LVCMOS33;
Net "j4<17>" LOC=AH7 | IOSTANDARD = LVCMOS33;

Net "j5" LOC=J20 | IOSTANDARD = LVCMOS25;

Net "j6<0>" LOC=W10 | IOSTANDARD = LVCMOS33;
Net "j6<1>" LOC=V7 | IOSTANDARD = LVCMOS33;
Net "j6<2>" LOC=V8 | IOSTANDARD = LVCMOS33;
Net "j6<3>" LOC=Y11 | IOSTANDARD = LVCMOS33;
Net "j6<4>" LOC=W11 | IOSTANDARD = LVCMOS33;

Net "sd<0>" LOC=AD5 | IOSTANDARD = LVCMOS33;
Net "sd<1>" LOC=AC4 | IOSTANDARD = LVCMOS33;
Net "sd<2>" LOC=AC5 | IOSTANDARD = LVCMOS33;
Net "sd<3>" LOC=AC7 | IOSTANDARD = LVCMOS33;

