Net osc_clk TNM_NET = osc_clk_pin;
TIMESPEC TS_osc_clk_pin = PERIOD osc_clk_pin 24000 kHz;
Net osc_clk LOC=A11 | IOSTANDARD = LVCMOS25;

Net led0 LOC=D9 | IOSTANDARD = LVCMOS25;
Net led1 LOC=C9 | IOSTANDARD = LVCMOS25;
Net led2 LOC=F11 | IOSTANDARD = LVCMOS25;
Net led3 LOC=F9 | IOSTANDARD = LVCMOS25;
Net led4 LOC=F10 | IOSTANDARD = LVCMOS25;
Net led5 LOC=D10 | IOSTANDARD = LVCMOS25;
Net led6 LOC=C10 | IOSTANDARD = LVCMOS25;
Net led7 LOC=B9 | IOSTANDARD = LVCMOS25;

Net rxd LOC=C2 | IOSTANDARD = LVCMOS25;
Net txd LOC=C1 | IOSTANDARD = LVCMOS25;

Net "j7_5" LOC=D1 | IOSTANDARD = LVCMOS25;
Net "j7_6" LOC=D2 | IOSTANDARD = LVCMOS25;
Net "j7_9" LOC=E1 | IOSTANDARD = LVCMOS25;
Net "j7_10" LOC=E2 | IOSTANDARD = LVCMOS25;
Net "j7_11" LOC=F1 | IOSTANDARD = LVCMOS25;
Net "j7_12" LOC=F2 | IOSTANDARD = LVCMOS25;
Net "j7_13" LOC=G1 | IOSTANDARD = LVCMOS25;
Net "j7_14" LOC=G2 | IOSTANDARD = LVCMOS25;

Net "j4_1" LOC=H2 | IOSTANDARD = LVCMOS25;
Net "j4_2" LOC=H1 | IOSTANDARD = LVCMOS25;
Net "j4_3" LOC=J2 | IOSTANDARD = LVCMOS25;
Net "j4_4" LOC=J1 | IOSTANDARD = LVCMOS25;
Net "j4_5" LOC=K2 | IOSTANDARD = LVCMOS25;
Net "j4_6" LOC=K1 | IOSTANDARD = LVCMOS25;
Net "j4_7" LOC=E4 | IOSTANDARD = LVCMOS25;
Net "j4_8" LOC=E3 | IOSTANDARD = LVCMOS25;

Net "j4_11" LOC=F4 | IOSTANDARD = LVCMOS25;
Net "j4_12" LOC=F3 | IOSTANDARD = LVCMOS25;
Net "j4_13" LOC=G4 | IOSTANDARD = LVCMOS25;
Net "j4_14" LOC=G3 | IOSTANDARD = LVCMOS25;
Net "j4_15" LOC=H4 | IOSTANDARD = LVCMOS25;
Net "j4_16" LOC=H3 | IOSTANDARD = LVCMOS25;
Net "j4_17" LOC=J4 | IOSTANDARD = LVCMOS25;
Net "j4_18" LOC=J3 | IOSTANDARD = LVCMOS25;

