Net osc_clk TNM_NET = osc_clk_pin;
TIMESPEC TS_osc_clk_pin = PERIOD osc_clk_pin 100000 kHz;
Net osc_clk LOC=H17 | IOSTANDARD = LVCMOS25;

#NET "led0" LOC = H13;
#NET "led1" LOC = J17;
#NET "led2" LOC = H15;

Net led0 LOC=H13 | IOSTANDARD = LVCMOS25;
Net led1 LOC=J17 | IOSTANDARD = LVCMOS25;
Net led2 LOC=H15 | IOSTANDARD = LVCMOS25;
Net led3 LOC=G16 | IOSTANDARD = LVCMOS25;
Net led4 LOC=L18 | IOSTANDARD = LVCMOS25;
Net led5 LOC=H18 | IOSTANDARD = LVCMOS25;
Net led6 LOC=J19 | IOSTANDARD = LVCMOS25;
Net led7 LOC=J21 | IOSTANDARD = LVCMOS25;

Net rxd LOC=AH5 | IOSTANDARD = LVCMOS33;
Net txd LOC=AD6 | IOSTANDARD = LVCMOS33;

Net "j1<0>" LOC=V32 | IOSTANDARD = LVCMOS33;
Net "j1<1>" LOC=V34 | IOSTANDARD = LVCMOS33;
Net "j1<2>" LOC=V33 | IOSTANDARD = LVCMOS33;
Net "j1<3>" LOC=W34 | IOSTANDARD = LVCMOS33;
Net "j1<4>" LOC=W32 | IOSTANDARD = LVCMOS33;
Net "j1<5>" LOC=Y34 | IOSTANDARD = LVCMOS33;
Net "j1<6>" LOC=Y33 | IOSTANDARD = LVCMOS33;
Net "j1<7>" LOC=Y32 | IOSTANDARD = LVCMOS33;
Net "j1<8>" LOC=AA34 | IOSTANDARD = LVCMOS33;
Net "j1<9>" LOC=AA33 | IOSTANDARD = LVCMOS33;
Net "j1<10>" LOC=AB32 | IOSTANDARD = LVCMOS33;
Net "j1<11>" LOC=AB33 | IOSTANDARD = LVCMOS33;
Net "j1<12>" LOC=AC32 | IOSTANDARD = LVCMOS33;
Net "j1<13>" LOC=AC34 | IOSTANDARD = LVCMOS33;
Net "j1<14>" LOC=AE8 | IOSTANDARD = LVCMOS33;
Net "j1<15>" LOC=AD9 | IOSTANDARD = LVCMOS33;
Net "j1<16>" LOC=AD10 | IOSTANDARD = LVCMOS33;
Net "j1<17>" LOC=AD11 | IOSTANDARD = LVCMOS33;
Net "j1<18>" LOC=AC8 | IOSTANDARD = LVCMOS33;
Net "j1<19>" LOC=AB8 | IOSTANDARD = LVCMOS33;
Net "j1<20>" LOC=AA5 | IOSTANDARD = LVCMOS33;
Net "j1<21>" LOC=AB5 | IOSTANDARD = LVCMOS33;
Net "j1<22>" LOC=AB6 | IOSTANDARD = LVCMOS33;
Net "j1<23>" LOC=AB7 | IOSTANDARD = LVCMOS33;
Net "j1<24>" LOC=AA8 | IOSTANDARD = LVCMOS33;
Net "j1<25>" LOC=AA9 | IOSTANDARD = LVCMOS33;
Net "j1<26>" LOC=AB10 | IOSTANDARD = LVCMOS33;
Net "j1<27>" LOC=AA10 | IOSTANDARD = LVCMOS33;
