Net osc_clk TNM_NET = osc_clk_pin;
TIMESPEC TS_osc_clk_pin = PERIOD osc_clk_pin 100000 kHz;
Net osc_clk LOC=H17 | IOSTANDARD = LVCMOS25;

#NET "led0" LOC = H13;
#NET "led1" LOC = J17;
#NET "led2" LOC = H15;

Net led0 LOC=H13 | IOSTANDARD = LVCMOS25;
Net led1 LOC=J17 | IOSTANDARD = LVCMOS25;
Net led2 LOC=H15 | IOSTANDARD = LVCMOS25;
Net led3 LOC=G16 | IOSTANDARD = LVCMOS25;
Net led4 LOC=L18 | IOSTANDARD = LVCMOS25;
Net led5 LOC=H18 | IOSTANDARD = LVCMOS25;
Net led6 LOC=J19 | IOSTANDARD = LVCMOS25;
Net led7 LOC=J21 | IOSTANDARD = LVCMOS25;

Net rxd LOC=R31 | IOSTANDARD = LVCMOS33;
Net txd LOC=U30 | IOSTANDARD = LVCMOS33;
